<div class="modal fade" id="invite-modal">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                Invite Others
            </div>
            <div class="modal-body">
                <form action="{{ url_for('gantt.chart.invite') }}" class="form-horizontal" id="invite-form" method="POST">
                    <div class="form-group">
                        <label for="" class="col-md-3">Email</label>
                        <div class="col-md-9">
                            <select type="text" multiple="true" class="form-control input-sm" style="width:100%" name="users" id="invite-user-email">

                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="" class="col-md-3">Permissions</label>
                        <div class="col-md-3 col-xs-12">
                            <div class="checkbox icheck" style="padding-top: 2px">
                                <label>
                                    <input type="checkbox" name="settings[permission][gantt.chart.delete]">
                                    Remove Chart
                                </label>
                            </div>
                        </div>
                        <div class="col-md-5 col-xs-12">
                            <div class="checkbox icheck" style="padding-top: 2px">
                                <label>
                                    <input type="checkbox" name="settings[permission][gantt.chart.edit]">
                                    Update Chart Info
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-3 col-md-offset-3 col-xs-12">
                            <div class="checkbox icheck" style="padding-top: 2px">
                                <label>
                                    <input type="checkbox" name="settings[permission][gantt.task.create]">
                                    Create Task
                                </label>
                            </div>
                        </div>
                        <div class="col-md-3 col-xs-12">
                            <div class="checkbox icheck" style="padding-top: 2px">
                                <label>
                                    <input type="checkbox" name="settings[permission][gantt.task.edit]">
                                    Update Task
                                </label>
                            </div>
                        </div>
                        <div class="col-md-3 col-xs-12">
                            <div class="checkbox icheck" style="padding-top: 2px">
                                <label>
                                    <input type="checkbox" name="settings[permission][gantt.task.delete]">
                                    Remove Task
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-3 col-md-offset-3 col-xs-12">
                            <div class="checkbox icheck" style="padding-top: 2px">
                                <label>
                                    <input type="checkbox" name="settings[permission][gantt.link.create]">
                                    Create Link
                                </label>
                            </div>
                        </div>
                        <div class="col-md-3 col-xs-12">
                            <div class="checkbox icheck" style="padding-top: 2px">
                                <label>
                                    <input type="checkbox" name="settings[permission][gantt.link.delete]">
                                    Remove Link
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-12">
                            <button id="btn-chart-invite" class="btn btn-sm btn-primary pull-right">Invite</button>
                            <button id="btn-chart-cancel" class="btn btn-sm btn-danger pull-right" style="margin-right: 5px" data-dismiss="modal">Cancel</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>