<div class="modal fade" id="chart-modal">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                Edit Chart
            </div>
            <div class="modal-body">
                {% include '@xsanisty-gantt/chart/form.twig' %}
            </div>
        </div>
    </div>
</div>